@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #10b981;
  --color-secondary: #f97316;
  --color-background: #f9fafb;
  --color-dark: #1f2937;
--color-yellow-branding: #facc15;
  --font-heading: "Outfit", sans-serif;
  --font-sans: "Inter", sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: #f9fafb;
  --foreground: #1f2937;
  
  --primary: #10b981; 
  --primary-foreground: #ffffff;
  
  --secondary: #f97316;
  --secondary-foreground: #ffffff;
  
  --card: #ffffff;
  --card-foreground: #1f2937;
  --popover: #ffffff;
  --popover-foreground: #1f2937;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --accent: #f1f5f9;
  --accent-foreground: #1f2937;
  --destructive: #ef4444;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #10b981;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
}